# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=norbertsSpark

# PostgreSQL initialization arguments
POSTGRES_INITDB_ARGS=-E UTF8 --locale=en_GB.UTF-8

# Database connection string for Drizzle ORM
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/norbertsSpark

GOOGLE_API_KEY=AIzaSyDlTWKmcsBss0CAXrF79WgmGouodRChpKg
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyDlTWKmcsBss0CAXrF79WgmGouodRChpKg
MODEL_NAME=gemini-2.0-flash-lite
RESEND_API_KEY=re_WECCjRhU_F3ydLBkwxmcqGaEqLouNJRsn
# Server Configuration
# Set to 'true' to enable HTTPS in development
USE_HTTPS=true
WT_SECRET='CLI generate secret: node -e "console.log(require('crypto').randomBytes(48).toString('base64url'))"
'
# PORT=3001
# HOST=0.0.0.0
# API_VERSION=v1